<!DOCTYPE html>
<html>

{% with name="Suggestions" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<!-- Critères de recherche -->
<form class="search" method="post" action="/search">
    <div class="critere" id="suggestion">

        <a class="button" id="reset_filter" onclick="window.location.href=window.location.pathname">Réinitialiser les
            filtres</a>

        <!-- Rechargement de la page lors du changement de catégorie -->
        <select class="tri" name="categorie" onchange="if(document.getElementById('option')!=null){document.getElementById('option').selectedIndex = -1}
                this.form.submit()">
            <option value="offre">Offre</option>
            <option value="demande" selected>Demande</option>
        </select>

        <!-- Rechargement de la page lors du changement de la méthode de tri -->
        <select class="tri" name="option" id="option" onchange="this.form.submit()">
            <option value="" disabled>- Trier par -</option>
            <option value="date_time">Date croissante</option>
            <option value="matiere">Matière</option>
            <option value="suggestion" selected>Suggestion</option>
        </select>

    </div>

</form>

<!-- Liste des demandes -->
<div class="demandes">
    <h2>Demande{% if suggest_d2|length>1 %}s{% endif %} correspondant avec vos offres (filière + matière + horaires)</h2>
    {% if suggest_d2|length>0 %}
        {% for demande in suggest_d2 %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur:</strong> <a
                            onclick="open_profile_page('{{ demande.auteur }}')"
                            title="Voir le profil">{{ sql_obj.get_user_info(demande.auteur).nom }}</a>
                    </p>
                    <p class="element"><strong class="G">Matière:</strong> {{ demande.matiere }}</p>
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ demande.date_time.strftime('%d/%m/%Y') }}</p>
                    <div class="horaire">
                        <div class="table" id="jour-offre">
                            {% for i in range(0,6) %}
                                <p>{{ days[i] }}:</p>
                            {% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            <table class="heure-table">
                                <tr>
                                    <th>08h</th>
                                    <th></th>
                                    <th>09h</th>
                                    <th></th>
                                    <th>10h</th>
                                    <th></th>
                                    <th>11h</th>
                                    <th></th>
                                    <th>12h</th>
                                    <th></th>
                                    <th>13h</th>
                                    <th></th>
                                    <th>14h</th>
                                    <th></th>
                                    <th>15h</th>
                                    <th></th>
                                    <th>16h</th>
                                    <th></th>
                                    <th>17h</th>
                                    <th></th>
                                    <th>18h</th>
                                    <th></th>
                                </tr>
                            </table>
                            {% for i in range(0,6) %}
                                <table>
                                    <tr>
                                        {% for H in (demande.horaires|list)[i*22:(i + 1)*22] %}
                                            {% if (H|int) == 0 %}
                                                <td class="white"></td>
                                            {% elif (H|int) == 1 %}
                                                <td class="red"></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                    <form class="bouton" method="post" action="/apply">
                        <input type="hidden" name="categorie" value="offre"/>
                        <input type="hidden" name="id" value="{{ demande.id }}"/>
                        <input type="submit" value="Accepter la demande"/>
                    </form>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune suggestion à afficher</p>
            </div>
        </div>
    {% endif %}
</div>

<!-- Liste des offres -->
<div class="offres">
    <h2>Demande{% if suggest_d1|length>1 %}s{% endif %} susceptible{% if suggest_o1|length>1 %}s{% endif %} de correspondre avec vos offres (filière + matière)</h2>
    {% if suggest_d1|length>0 %}
        {% for offre in suggest_d1 %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur:</strong> <a
                            onclick="open_profile_page('{{ offre.auteur }}')"
                            title="Voir le profil">{{ sql_obj.get_user_info(offre.auteur).nom }}</a>
                    </p>
                    <p class="element"><strong class="G">Matière:</strong> {{ offre.matiere }}</p>
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ offre.date_time.strftime('%d/%m/%Y') }}</p>
                    <div class="horaire">
                        <div class="table" id="jour-offre">
                            {% for i in range(0,6) %}
                                <p>{{ days[i] }}:</p>
                            {% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            <table class="heure-table">
                                <tr>
                                    <th>08h</th>
                                    <th></th>
                                    <th>09h</th>
                                    <th></th>
                                    <th>10h</th>
                                    <th></th>
                                    <th>11h</th>
                                    <th></th>
                                    <th>12h</th>
                                    <th></th>
                                    <th>13h</th>
                                    <th></th>
                                    <th>14h</th>
                                    <th></th>
                                    <th>15h</th>
                                    <th></th>
                                    <th>16h</th>
                                    <th></th>
                                    <th>17h</th>
                                    <th></th>
                                    <th>18h</th>
                                    <th></th>
                                </tr>
                            </table>
                            {% for i in range(0,6) %}
                                <table>
                                    <tr>
                                        {% for H in (offre.horaires|list)[i*22:(i + 1)*22] %}
                                            {% if (H|int) == 0 %}
                                                <td class="white"></td>
                                            {% elif (H|int) == 1 %}
                                                <td class="red"></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </table>
                            {% endfor %}

                        </div>
                    </div>
                    <form class="bouton" method="post" action="/apply">
                        <input type="hidden" name="categorie" value="offre"/>
                        <input type="hidden" name="id" value="{{ offre.id }}"/>
                        <input type="submit" value="Accepter la demande"/>
                    </form>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune suggestion à afficher</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>

