<!DOCTYPE html>
<html>

{% with name="Mon Profil" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body oncontextmenu="return false">

{% include 'mise_en_page/HEADER.html' %}

<div class="header">
    <div>
        <div id="header_icon"></div>
        <nav>
            <ul>
                <li><a href="/profile/view">Informations</a></li>
                <li><a href="/profile/tutorials">Tutorats</a></li>
            </ul>
        </nav>
        <div id="header_icon"></div>
    </div>
</div>

<div class="bloc_page_profil">
    <!-- Liste des offres crées par l'utilisateur -->
    <div class="offres" id="tutorat_en_cours">
        <h2>Vos tutorats créés</h2>
        {% if offres_creees|length>0 %}
            {% for offre in offres_creees %}
                <br/>
                <div class="bloc" id="bloc_tuto">
                    <div class="info">
                        <p class="element"><strong class="G">Auteur:</strong>
                            <a onclick="open_profile_page('{{ offre[1] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[1]) }}</a>
                        </p>
                        <p class="element"><strong class="G">Pour des:</strong> {{ offre[2] }}</p>
                        <p class="element"><strong class="G">Matière:</strong> {{ offre[3] }}</p>
                        <p class="element"><strong class="G">Participant(s) :</strong>
                        {% if offre[5] is none %}
                            Aucun
                        {% else %}
                            <a onclick="open_profile_page('{{ offre[5] }}')"
                               title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[5]) }}</a>
                            <br/>
                        {% endif %}

                        {% if offre[6] is not none %}
                            <a onclick="open_profile_page('{{ offre[6] }}')"
                               title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[6]) }}</a>
                        {% endif %}
                    </p>
                        <p class="element"><strong class="G">Etat de l'offre:</strong> {% if offre[7]==0 %}En
                            attente de validation{% else %}Publiée{% endif %}</p>
                    </div>
                    <div id="horaires">
                        <div class="horaire">
                            <div class="table">
                                {% for i in range(0,12,2) %}
                                    {% if offre[8+i] is not none and offre[9+i] is not none %}
                                        <p>{{ days[i//2] }}:</p>
                                    {% endif %}{% endfor %}
                            </div>
                            <div class="table" id="table_horaires">
                                {% for i in range(0,12,2) %}
                                    {% if offre[8+i] is not none and offre[9+i] is not none %}
                                        <p>{{ 'h'.join((offre[8+i]|string).split(':')[:2]) }}
                                            - {{ 'h'.join((offre[9+i]|string).split(':')[:2]) }}</p>
                                    {% endif %}{% endfor %}
                            </div>
                        </div>
                        <a href="/delete?id={{ offre[0] }}">
                            <button>Supprimer l'offre</button>
                        </a>
                    </div>
                </div>
                <br/>
            {% endfor %}
        {% else %}
            <div class="bloc" id="none_offre">
                <p class="none_offre">Vous n'avez pas encore crée d'offre</p>
                <p class="none_offre"><a href="/create">
                    <button>Créer une offre</button>
                </a></p>
            </div>
        {% endif %}
    </div>
    <div class="offres" id="tutorat_en_cours">
        <!-- Liste des offres auxquelles participe l'utilisateur -->
        <h2>Les tutorats auxquels vous participez</h2>
        {% if offres_suivies|length>0 %}
            {% for offre in offres_suivies %}
                <br/>
                <div class="bloc">
                    <div class="info">
                        <p class="element"><strong class="G">Auteur:</strong> <a
                                onclick="open_profile_page('{{ offre[1] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[1]) }}</a>
                        </p>
                        <p class="element"><strong class="G">Mail de
                            l'auteur:</strong> <a href="mailto:{{ offre[1] }}" title="Envoyer un mail">{{ offre[1] }}</a></p>
                        <p class="element"><strong class="G">Matière:</strong> {{ offre[3] }}</p>
                        <p class="element"><strong class="G">Participants 1:</strong>
                            {% if offre[5] is none %}
                                Personne
                            {% else %}
                                <a onclick="open_profile_page('{{ offre[5] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[5]) }}</a>
                            {% endif %}
                        </p>
                        <p class="element"><strong class="G">Participants 2:</strong>
                            {% if offre[6] is none %}
                                Personne
                            {% else %}
                                <a onclick="open_profile_page('{{ offre[6] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[6]) }}</a>
                            {% endif %}
                        </p>
                    </div>
                    <div id="horaires">
                        <div class="horaire">
                            <div class="table">
                                {% for i in range(0,12,2) %}
                                    {% if offre[8+i] is not none and offre[9+i] is not none %}
                                        <p>{{ days[i//2] }}:</p>
                                    {% endif %}{% endfor %}
                            </div>
                            <div class="table" id="table_horaires">
                                {% for i in range(0,12,2) %}
                                    {% if offre[8+i] is not none and offre[9+i] is not none %}
                                        <p>{{ 'h'.join((offre[8+i]|string).split(':')[:2]) }}
                                            - {{ 'h'.join((offre[9+i]|string).split(':')[:2]) }}</p>
                                    {% endif %}{% endfor %}
                            </div>
                        </div>
                        <a href="/quit?id={{ offre[0] }}">
                            <button>Quitter ce tutorat</button>
                        </a>
                    </div>
                </div>
                <br/>
            {% endfor %}
        {% else %}
            <div class="bloc" id="none_offre">
                <p class="none_offre">Vous ne participez à aucun Tutorat</p>
                <p class="none_offre"><a href="/search">
                    <button>Rechercher une offre</button>
                </a></p>
            </div>
        {% endif %}
    </div>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
