<!DOCTYPE html>
<html>

{% with name="Mon Profil" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<form method="post" action="/profile/update" class="majprofil">
    <div class="bloc_page_profil">
        <div class="page_profil">
            <div class="bloc_profil" id="maj_profil">
                <h2>Vos informations</h2>
                <div class="profil">
                    <div class="info_profil">
                        <p><strong class="G">Nom:</strong></p>
                        <p><strong class="G">Mail:</strong></p>
                        <p><strong class="G">Ancien MDP:</strong></p>
                        <p><strong class="G">Nouveau MDP:</strong></p>
                        <p><strong class="G">Nouveau MDP:</strong></p>
                        <p><strong class="G">Classe:</strong></p>
                    </div>
                    <div class="info_profil">
                        <!-- Nom non modifiable -->
                        <p>{{ infos[0] }}</p>
                        <p>{{ infos[2] }}</p>
                        <!-- Infos modifiable -->
                        <p><input type="password" name="mdp"></p>
                        <p><input type="password" name="mdp1"></p>
                        <p><input onpaste="return false" type="password" name='mdp2'></p>
                        <!-- Classe modifiable -->
                        <p><select class="tri4" required name="classe">
                            {% for classe in classes %}
                                <option {% if classe == infos[3] %}selected{% endif %}>{{ classe }}</option>
                            {% endfor %}
                        </select></p>
                    </div>
                </div>
                <div class="boutton_u_profile">
                    <a href="/profile/view" class="retour"><button>Retour</button></a>
                    <input class="change_profil" type="submit" value="Enregistrer les changements">
                </div>
            </div>
        </div>
    </div>
</form>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
