<!DOCTYPE html>
<html>

{% with name="Mon Profil" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;">

{% include 'mise_en_page/HEADER.html' %}

<div class="header">
    <div>
        <div id="header_icon"></div>
        <nav>
            <ul>
                <li><a href="/profile/view">Informations</a></li>
                <li><a href="/profile/tutorials">Tutorats</a></li>
            </ul>
        </nav>
        <div id="header_icon"></div>
    </div>
</div>

{% if delete_account %}
    <!-- Message supression -->
    <div class="reset_msg">
        <div class="header_reset">
            <a href="/profile/view" class="quit_reset"></a>
        </div>
        <div class="reset_button">
            <p>Êtes-vous sûr de vouloir suprimer votre compte ?</p>
            <div class="button"><a href="/profile/delete" class="reset_bb">- Oui -</a></div>
        </div>
    </div>
{% endif %}

<div class="bloc_page_profil">
    <!-- Infos de l'utilisateur -->
    <div class="page_profil" id="info_profil">
        <div class="bloc_profil">
            <h2>Vos informations</h2>
            <div class="profil">
                <div class="info_profil">
                    <p><strong class="G">Nom:</strong></p>
                    <p><strong class="G">Mail:</strong></p>
                    <p><strong class="G">Classe:</strong></p>
                </div>
                <div class="info_profil">
                    <p>{{ infos[0] }}</p>
                    <p>{{ infos[2] }}</p>
                    <p>{{ infos[3] }}</p>
                </div>
                <div class="modifordelete">
                    <a href="/profile/update">
                        <button>Modifier</button>
                    </a>
                    <a href="/profile/view?delete=True">
                        <button>Supprimer</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
