<!DOCTYPE html>
<html>

{% with name="Mon Profil" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<div class="header">
    <div>
        <div id="header_icon"></div>
        <nav>
            <ul>
                <li><a href="/profile/view">Informations</a></li>
                <li><a href="/profile/tutorials">Tutorats</a></li>
            </ul>
        </nav>
        <div id="header_icon"></div>
    </div>
</div>

<div class="bloc_page_profil">
    <!-- Infos de l'utilisateur -->
    <div class="page_profil" id="info_profil">
        <div class="bloc_profil">
            <h2>Vos informations</h2>
            <div class="profil">
                <div class="info_profil">
                    <p><strong class="G">Nom:</strong></p>
                    <p><strong class="G">Mail:</strong></p>
                    <p><strong class="G">Classe:</strong></p>
                </div>
                <div class="info_profil">
                    <p>{{ infos[0] }}</p>
                    <p>{{ infos[2] }}</p>
                    <p>{{ infos[3] }}</p>
                </div>
                <div class="modifordelete">
                    <a href="/profile/update">
                        <button>Modifier</button>
                    </a>
                    <a href="/profile/delete">
                        <button>Suprimer</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
