<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}


{% include 'mise_en_page/HEADER_ADMIN.html' %}


{% include 'blocs/search_user.html' %}

<aside>
    <a href="/admin/tutorials/progress">
        <button>Offres</button>
    </a>
    <a href="/admin/tutorials/progress/demandes">
        <button>Demandes</button>
    </a>
</aside>

<!-- Liste des demandes -->
<div class="demandes">
    <h2>{{ demandes|length }} demande{% if demandes|length>1 %}s{% endif %} en cours</h2>
    {% if demandes|length>0 %}
        {% for demande in demandes %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur :</strong>
                        <a onclick="open_profile_page('{{ demande.auteur }}')"
                           title="Voir le profil">{{ sql_obj.get_user_pseudo(demande.auteur) }}</a>
                    </p>
                    <p class="element"><strong class="G">En classe de :</strong> {{ demande.classe }}</p>
                    <p class="element"><strong class="G">Matière :</strong> {{ demande.matiere }}</p>
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ demande.date_time.strftime('%d/%m/%Y') }}</p>
                    
                    {% with elem=demande %}{% include 'blocs/creneaux_horaires.html' %}{% endwith %}
                    
                    <a href="/delete4?id={{ demande.id }}">
                        <button>Supprimer</button>
                    </a>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune demande n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>