<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}


<div class="header">
    <div>
        <div id="header_icon"></div>
        <nav>
            <ul>
                <li><a href="/admin/tutorials/validate">A valider</a></li>
                <li><a href="/admin/tutorials/progress">En cours</a></li>
                <li><a href="/admin/users">Utilisateurs</a></li>
            </ul>
        </nav>
        <div id="header_icon" class="icon">
            <a href="/admin/tutorials/validate?reset_msg=True" class="admin" title="Réinitialiser le site"><img src="/static/reset.png"></a>
        </div>
    </div>
</div>


<form method="post" class="user_search">
    <h2>Rechercher un utilisateur</h2>
    <input name="user_search" class="user_search_admin"/>
</form>


<!-- Liste des users -->
<div class="admin" id="admin1">
    <h2>Liste des utilisateurs</h2>
    {% if user_list|length>0 %}
        {% for user in user_list %}
            <div class="bloc_profil" id="user_admin">
                <div class="info_profil" id="informations">
                    <p><strong class="G">Nom:</strong></p>
                    <p><strong class="G">Mail:</strong></p>
                    <p><strong class="G">Classe:</strong></p>
                    <p><strong class="G">Admin:</strong></p>
                    <p><strong class="G">Ban:</strong></p>
                </div>
                <div class="info_profil" id="informations2">
                    <p>{{ user[0] }}{% for tutorat in tutorats_actifs %}{% if tutorat[1] == user[2] %}
                        <img src="/static/tuteur.png" id="tuteur" title="Nombre de tutorats créé par cet utilisateur">
                    {% endif %}{% endfor %}{% for tutorat in tutorats_actifs %}
                        {% if tutorat[5] == user[2] or tutorat[6] == user[2] %}<img src="/static/tutore.png" id="tutore"
                                                                                    title="Nombre de tutorats suivi par cet utilisateur">
                        {% endif %}{% endfor %}</p>
                    <p><a href="mailto:{{ user[2] }}" title="Envoyer un mail">{{ user[2] }}</a></p>
                    <p>{{ user[3] }}</p>
                    {% if user[4]==1 %}
                        <p>Oui</p>
                    {% else %}
                        <p>Non</p>
                    {% endif %}
                    {% if user[5]==1 %}
                        <p>Oui</p>
                    {% else %}
                        <p>Non</p>
                    {% endif %}
                </div>
                {% if user[5]==1 %}
                    <a href="/ban?mail={{ user[2] }}" class="ban">
                        <button>Débannir</button>
                    </a>
                {% else %}
                    <a href="/ban?mail={{ user[2] }}" class="ban">
                        <button>Bannir</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="bloc" id="none_offre">
            <p class="none_offre">Aucun utilisateur n'a été trouvé</p>
        </div>
    {% endif %}
    <br/>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
