<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body oncontextmenu="return false">

{% include 'mise_en_page/HEADER.html' %}


<div class="header">
    <div>
        <div id="header_icon"></div>
        <nav>
            <ul>
                <li><a href="/admin/tutorials/validate">A valider</a></li>
                <li><a href="/admin/tutorials/progress">En cours</a></li>
                <li><a href="/admin/users">Utilisateurs</a></li>
            </ul>
        </nav>
        <div id="header_icon" class="icon">
            <a href="/admin/tutorials/validate?reset_msg=True" class="admin" title="Réinitialiser le site"><img src="/static/img/reset.png"></a>
        </div>
    </div>
</div>


{% if reset_msg %}
    <!-- Message reset -->
    <div class="reset_msg">
        <div class="header_reset">
            <a href="/admin/tutorials/validate" class="quit_reset"></a>
        </div>
        <div class="reset_button">
            <p>Êtes-vous sûr de vouloir remettre le site BlaBla Tutorat à zéro ?</p>
            <div class="button"><a href="/reset" class="reset_bb">- Oui -</a></div>
        </div>
    </div>
{% endif %}


<!-- Liste des offres -->
<div class="offres" id="tutorat_en_cours">
    <h2 class="page_admin_title">Offre(s) à valider</h2>
    {% if offres_V|length>0 %}
        {% for offre in offres_V %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur:</strong> <a
                            onclick="open_profile_page('{{ offre[1] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[1]) }}</a>
                    </p>
                    <p class="element"><strong class="G">Pour des:</strong> {{ offre[2] }}</p>
                    <p class="element"><strong class="G">Matière:</strong> {{ offre[3] }}</p>
                </div>
                <div id="horaires">
                    <div class="horaire">
                        <div class="table">
                            {% for i in range(0,12,2) %}
                                {% if offre[8+i] is not none and offre[9+i] is not none %}
                                    <p>{{ days[i//2] }}:</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            {% for i in range(0,12,2) %}
                                {% if offre[8+i] is not none and offre[9+i] is not none %}
                                    <p>{{ 'h'.join((offre[8+i]|string).split(':')[:2]) }}
                                        - {{ 'h'.join((offre[9+i]|string).split(':')[:2]) }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/delete2?id={{ offre[0] }}">
                        <button>Supprimer l'offre</button>
                    </a>
                    <a href="/validate?id={{ offre[0] }}">
                        <button>Valider l'offre</button>
                    </a>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="bloc" id="none_offre">
            <p class="none_offre">Aucune offre n'a été trouvée</p>
        </div>
    {% endif %}
</div>

<div class="offres">
    <h2>Demande(s) à valider</h2>
    {% if demandes_V|length>0 %}
        {% for demande in demandes_V %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur :</strong>
                        <a onclick="open_profile_page('{{ demande[1] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(demande[1]) }}</a>
                    </p>
                    <p class="element"><strong class="G">En classe de :</strong> {{ demande[2] }}</p>
                    <p class="element"><strong class="G">Matière :</strong> {{ demande[3] }}</p>
                </div>
                <div id="horaires">
                    <div class="horaire">
                        <div class="table">
                            {% for i in range(0,12,2) %}{% if demande[7+i] is not none and demande[8+i] is not none %}
                                <p>{{ days[i//2] }}:</p>{% endif %}{% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            {% for i in range(0,12,2) %}{% if demande[7+i] is not none and demande[8+i] is not none %}
                                <p>{{ 'h'.join((demande[7+i]|string).split(':')[:2]) }}
                                    - {{ 'h'.join((demande[8+i]|string).split(':')[:2]) }}</p>{% endif %}{% endfor %}
                        </div>
                    </div>
                    <a href="/delete4?id={{ demande[0] }}">
                        <button>Supprimer la demande</button>
                    </a>
                    <a href="/validate2?id={{ demande[0] }}">
                        <button>Valider la demande</button>
                    </a>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune demande n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
