<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body oncontextmenu="return false">

{% include 'mise_en_page/HEADER.html' %}


<div class="header">
    <div>
        <div id="header_icon"></div>
        <nav>
            <ul>
                <li><a href="/admin/tutorials/validate">A valider</a></li>
                <li><a href="/admin/tutorials/progress">En cours</a></li>
                <li><a href="/admin/users">Utilisateurs</a></li>
            </ul>
        </nav>
        <div id="header_icon" class="icon">
            <a href="/admin/tutorials/validate?reset_msg=True" class="admin" title="Réinitialiser le site"><img src="/static/img/reset.png"></a>
        </div>
    </div>
</div>


<form method="post" class="user_search">
    <h2>Rechercher un utilisateur</h2>
    <input name="user_search" class="user_search_admin"/>
</form>

<!-- Liste des offres -->
<div class="offres" id="tutorat_en_cours">
    <h2>Tutorats en cours</h2>
    {% if tutorats_actifs|length>0 %}
        {% for tutorat in tutorats_actifs %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur:</strong>
                        <a onclick="open_profile_page('{{ tutorat[1] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(tutorat[1]) }}</a>
                    </p>
                    <p class="element"><strong class="G">Pour des:</strong> {{ tutorat[2] }}</p>
                    <p class="element"><strong class="G">Matière:</strong> {{ tutorat[3] }}</p>
                    <p class="element"><strong class="G">Participant 1:</strong>
                        {% if tutorat[5] is none %}
                            Personne
                        {% else %}
                            <a onclick="open_profile_page('{{ tutorat[5] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(tutorat[5]) }}</a>
                        {% endif %}
                    </p>
                    <p class="element"><strong class="G">Participant 2:</strong>
                        {% if tutorat[6] is none %}
                            Personne
                        {% else %}
                            <a onclick="open_profile_page('{{ tutorat[6] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(tutorat[6]) }}</a>
                        {% endif %}
                    </p>
                </div>
                <div id="horaires">
                    <div class="horaire">
                        <div class="table">
                            {% for i in range(0,12,2) %}
                                {% if tutorat[8+i] is not none and tutorat[9+i] is not none %}
                                    <p>{{ days[i//2] }}:</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            {% for i in range(0,12,2) %}
                                {% if tutorat[8+i] is not none and tutorat[9+i] is not none %}
                                    <p>{{ 'h'.join((tutorat[8+i]|string).split(':')[:2]) }}
                                        - {{ 'h'.join((tutorat[9+i]|string).split(':')[:2]) }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/delete2?id={{ tutorat[0] }}">
                        <button>Supprimer ce tutorat</button>
                    </a>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="bloc" id="none_offre">
            <p class="none_offre">Aucun tutorat n'a été trouvé</p>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
