<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}


{% include'mise_en_page/HEADER_ADMIN.html' %}


{% include 'blocs/search_user.html' %}


<!-- Liste des users -->
<div class="admin" id="admin1">
    <h2>Liste des utilisateurs</h2>
    {% if user_list|length>0 %}
        {% for user in user_list %}
            <div class="bloc_profil" id="user_admin">
                <div class="info_profil informations">
                    <p><strong class="G">Nom :</strong></p>
                </div>
                <div class="info_profil informations2">
                    <p>{{ user.nom }}
                        {% if user.classe=='ADMIN' %}
                            <img src="/img/administrateur.png" title="Administrateur" width=20>
                        {% endif %}
                    </p>
                </div>


                <div class="info_profil informations">
                    <p><strong class="G">eMail :</strong></p>
                </div>
                <div class="info_profil informations2">
                    <p><a href="mailto:{{ user.mail }}" title="Envoyer un eMail">{{ user.mail }}</a></p>
                </div>

                {% if user.classe!='ADMIN' %}
                    <div class="info_profil informations">
                        <p><strong class="G">Classe :</strong></p>
                    </div>
                    <div class="info_profil informations2">
                        <p>{{ user.classe }}</p>
                    </div>
                {% endif %}

                <div class="info_profil informations">
                    <p><strong class="G">Activité :</strong></p>
                </div>

                <div class="info_profil informations2">
                    {% for tutorat in tutorats_actifs %}
                        {% if tutorat.auteur == user.mail %}
                            <img src="/img/tuteur.png" id="tuteur"
                                 title="Nombre d'offres créées par cet utilisateur">
                        {% endif %}
                    {% endfor %}
                    {% for tutorat in tutorats_actifs %}
                        {% if tutorat.participant == user.mail or tutorat.participant2 == user.mail %}
                            <img src="/img/tutore.png" id="tutore"
                                 title="Nombre de tutorats suivis par cet utilisateur">
                        {% endif %}
                    {% endfor %}
                    {% for demande in demandes %}
                        {% if demande.auteur == user.mail %}
                            <img src="/img/demandeur.png" id="tutore"
                                 title="Nombre de demandes créées par cet utilisateur">
                        {% endif %}
                    {% endfor %}
                </div>


                <div class="info_profil informations user_updateAB">
                    {% if user.ban==1 %}
                        <a href="/ban?mail={{ user.mail }}" class="ban">
                            <button title="Réintégrer l'utilisateur">Réintégrer</button>
                        </a>
                    {% else %}
                        <a href="/ban?mail={{ user.mail }}" class="ban">
                            <button title="Bannir l'utilisateur = lui interdire l'accès au site.">Bannir</button>
                        </a>
                    {% endif %}
                </div>

                <div class="info_profil user_updateAB">

                    {% if user.classe!='ADMIN' %}
                        <a href="/promote?mail={{ user.mail }}" class="ban">
                            <button title="Promouvoir au grade d'administrateur">Promouvoir</button>
                        </a>
                    {% else %}
                        <a href="/retrogr?mail={{ user.mail }}" class="ban">
                            <button title="Rétrograder au grade d'utilisateur">Rétrograder</button>
                        </a>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    {% else %}
        <div class="bloc" id="none_offre">
            <p class="none_offre">Aucun utilisateur n'a été trouvé</p>
        </div>
    {% endif %}
    <br/>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
