<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

{% include 'mise_en_page/HEADER_ADMIN.html' %}

{% include 'blocs/search_user.html' %}

<aside>
    <a href="/admin/tutorials/progress">
        <button>Offres</button>
    </a>
    <a href="/admin/tutorials/progress/demandes">
        <button>Demandes</button>
    </a>
</aside>

<!-- Liste des offres -->
<div class="offres" id="tutorat_en_cours">
    <h2>{{ tutorats_actifs|length }} offre{% if tutorats_actifs|length>1 %}s{% endif %} en cours</h2>
    {% if tutorats_actifs|length>0 %}
        {% for offre in tutorats_actifs %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur :</strong>
                        <a onclick="open_profile_page('{{ offre.auteur }}')"
                           title="Voir le profil">{{ sql_obj.get_user_pseudo(offre.auteur) }}</a>
                    </p>
                    <p class="element"><strong class="G">Pour des :</strong> {{ offre.filiere }}</p>
                    <p class="element"><strong class="G">Matière :</strong> {{ offre.classe }}</p>
                    
                    <p class="element"><strong class="G">Participant{% if offre.participant is not none and offre.participant2 is not none%}s{% endif %} :</strong>
                        {% if offre.participant is none  and offre.participant2 is none %}
                        	aucun
                        {% else %}
                        	<ul>
	                        {% for p in [offre.participant, offre.participant2] %}
								{% if p is not none %}
									<li>
									<a onclick="open_profile_page('{{ p }}')"
		                               title="Voir le profil">{{ sql_obj.get_user_pseudo(p) }}</a>
		                            </li>
		                        {% endif %}
	                        {% endfor %}
	                        </ul>
                        {% endif %}
                    </p>
                    
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ offre.date_time.strftime('%d/%m/%Y') }}</p>
                    
                    {% with elem=offre %}{% include 'blocs/creneaux_horaires.html' %}{% endwith %}
                    
                    <a href="/delete2?id={{ offre.id }}">
                        <button>Supprimer</button>
                    </a>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="bloc" id="none_offre">
            <p class="none_offre">Aucune offre n'a été trouvé</p>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
