<header>
    <div>
        <a href="/" id="header_icon" class="header_icon"><img src="/static/img/main_logo.png"></a>
        {% if check_connexion() %}
            <nav>
                <ul>
                    <li><a href="/search">Rechercher</a></li>
                    <li><a href="/create">Créer</a></li>
                </ul>
            </nav>
            <div class="icon" id="header_icon">
                <a href="/profile/view" class="profile" title="Voir votre profil"><img src="/static/img/profil.png"></a>
                {% if admin_user %}
                    <a href="/admin/tutorials/validate" class="admin" title="Accéder à l'interface d'administration"><img src="/static/img/admin.png"></a>
                {% endif %}
                <a href="/disconnect" class="admin" title="Se déconnecter"><img src="/static/img/disconnect.png"></a>
            </div>
        {% else %}
            <nav>
                <ul>
                    <li><a href="/">BlaBla - Tutorat</a></li>
                </ul>
            </nav>
            <div class="icon" id="header_icon">
                <a href="/login" class="profile" title="Se connecter"><img src="/static/img/profil.png"></a>
                <a href="/register" class="admin" title="S'inscrire"><img src="/static/img/register.png"></a>
            </div>
        {% endif %}
    </div>
</header>

{% if info_msg %}
    <!-- Message d'information qui reload la page -->
    <a onclick="window.location.href=window.location.pathname" class="info_msg">
        <div>{{ info_msg }}</div>
    </a>
{% endif %}