<header>
    <div>
        <a href="/" id="header_icon" class="header_icon"><img src="/static/img/main_logo.png"></a>
        {% if check_connexion() %}
        	<!-- Menu -->
            <nav>
                <ul>
                    <li><a href="/search" title="Rechercher une offre ou une demande de tutorat">Rechercher</a></li>
                    <li><a href="/create" title="Créer une nouvelle offre ou demande de tutorat">Créer</a></li>
                </ul>
            </nav>
            
            <!-- Barres d'outils -->
            <nav class="header_tools">
            <ul>
            	<li class="tool"><a href="/profile/view" class="logged" title="Voir votre profil">{{user}}</a></li>
            	{% if admin_user %}
                    <li class="tool"><a href="/profile/view"  title="Voir votre profil"><img src="/static/img/adminprofil.png"></a></li>
                {% else %}
                	<li class="tool"><a href="/profile/view" title="Voir votre profil"><img src="/static/img/profil.png"></a></li>
                {% endif %}
                {% if admin_user %}
                    <li class="tool"><a href="/admin/tutorials/validate" title="Accéder à l'interface d'administration"><img src="/static/img/admin.png"></a></li>
                {% endif %}
                <li class="tool"><a href="/disconnect" title="Se déconnecter"><img src="/static/img/disconnect.png"></a></li>
            </ul>
            </nav>
            
        {% else %}
            <nav>
                <ul>
                    <li><a href="/">BlaBla - Tutorat</a></li>
                </ul>
            </nav>
            
            <!-- Barres d'outils -->
            <nav class="icon" id="header_tools">
                <li class="tool"><a href="/login" title="Se connecter"><img src="/static/img/profil.png"></a></li>
                <li class="tool"><a href="/register" title="S'inscrire"><img src="/static/img/register.png"></a></li>
            </nav>
        {% endif %}
    </div>
</header>

{% if info_msg %}
    <!-- Message d'information qui reload la page -->
    <a onclick="window.location.href=window.location.pathname" class="info_msg">
        <div>{{ info_msg }}</div>
    </a>
{% endif %}