<!DOCTYPE html>
<html>

{% with name="Mot de Passe oublié" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<h2 class="log">Mot de passe oublié ?</h2>

<form method="post" class="forgot_page">
        <div class="forgot">
            <div class="reset">
                <p>Entrez l'adresse email que vous utilisez sur BlaBla-Tutorat :</p>
                <p><input class="password"required type="email" name="mail"/></p>
                <p><input type="submit" value="Valider"></p>
            </div>
        </div>
</form>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
