<!DOCTYPE html>
<html>

{% with name="Accueil" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<h1 id ="Accueil">Bienvenue sur BlaBla-Tutorat</h1>
<div id="bloc_page_home">
    <div class="bloc_home">
        <div class="page_home">
            <div class="square_title">
                <h2>POURQUOI ET COMMENT</h2>
            </div>
            <p>Quelques <span  class="bold">difficultés</span> dans une matière ou au contraire, envie d'apporter ton <span  class="bold">aide</span> à un autre élève/étudiant ?</p>
            <p><span  class="bold">BlaBla-Tutorat</span> est conçu pour faciliter le service de <span  class="bold">tutorat entre pairs</span> proposé au lycée Blaise Pascal de Clermont-Ferrand</p>
            <p>Il te permet de <a href = "/search" class="bold">rechercher</a> les offres proposées par d'autres élèves/étudiants.</p>
            <p>Ou de <a href="/create" class="bold">poster</a> une demande ou une offre afin qu'un potentiel tuteur puisse te venir en aide.</p>
        </div>
        <div id="Presentation" class="page_home">
            <div class="square_title">
                <h2>PRINCIPE</h2>
            </div>
            <p> Connaissez-vous le principe du <span  class="bold">tutorat entre pairs</span> ?</p>
            <p> Un élève/étudiant qui se sent à l’aise dans une matière apporte régulièrement son aide à un autre élève/étudiant qui souhaite progresser.</p>
            <p>Ce système est bénéfique pour les deux élèves/étudiants :</p>
            <p>- le tuteur acquière des compétences, car il doit comprendre d’où viennent les difficultés du tutoré, et reformuler ses connaissances.</p>
            <p>- le tutoré bénéficie d’une aide personnalisée dans le cadre d’une relation différente de celle qu’il a avec son professeur en classe.</p>
        </div>
        <div id="stat" class="page_home">
            <div class="square_title">
                <h2>QUELQUES STATISTIQUES</h2>
            </div>
            <p>Nombre d'utilisateurs inscrits : {{nbr_users}}</p>
            <p>Nombre d'offres créées : {{offres}}</p>
            <p>Nombre de demandes postées : {{demandes}}</p>
            <a href="/stat" title="Statistiques complètes">Aperçu des offres et demandes</a>
        </div>
    </div>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
