<!DOCTYPE html>
<html>

{% with name="Accueil" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;">

{% include 'mise_en_page/HEADER.html' %}

<h1 id ="Accueil">Bienvenue sur BlaBla-Tutorat</h1>
<div id="bloc_page_home">
    
    <!--- <img href=""> --->

    <div>
        <h2 class="square_title">POURQUOI ET COMMENT</h2>
        <p>Quelques difficultés dans une matière ou au contraire, envie d'apporter ton aide à un autre élève ?</p>
        <p>BlaBla-Tutorat est conçu pour faciliter le service de tutorat entre pairs poposé au lycée Blaise-Pascal de Clermont-Ferrand</p>
        <p>Il te permet de <a href = "/search">rechercher</a> les offres proposées par d'autres élèves.</p>
        <p>Ou de <a href="/create">poster</a> une demande ou une offre afin qu'un potentiel tuteur puisse te venir en aide.</p>
    </div>

    <div id="Presentation">
        <h2 class="square_title">PRINCIPE</h2>
        <p> Connaissez-vous le principe du tutorat entre pairs ?</p>
        <p> Un élève qui se sent à l’aise dans une matière apporte régulièrement son aide à un autre élève qui souhaite progresser.</p>
        <p>Ce système est bénéfique pour les deux élèves :</p>
        <p>- le tuteur acquière des compétences, car il doit comprendre d’où viennent les difficultés du tutoré, et reformuler ses connaissances.</p>
        <p>- le tutoré bénéficie d’une aide personnalisée dans le cadre d’une relation différente de celle qu’il a avec son professeur en classe.</p>
    </div>

    <div id="stat">
        <h2 class="square_title">QUELQUES STATISTIQUES</h2>
        <p>Nombre d'utilisateurs inscrits : {{nbr_users}}</p>
        <p>Nombre d'offres créées : {{offres}}</p>
        <!--- <p>Nombre de demandes postées : {{demandes}}</p>
        <p>Nombre de demandeurs qui ont trouvé un tuteur : {{demandes_satisfaites}}</p> --->
    </div>
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
