<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
{% with name="Accueil.html" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<div class="header">
    <div>
        <div id="header_icon"></div>
        <div id="header_icon"></div>
    </div>
</div>

<h1>Le Tutorat :</h1>
<p> Connaissez-vous le principe du tutorat entre pairs ?</p>

    <p> Un élève qui se sent à l’aise dans une matière apporte régulièrement son aide à un autre élève qui souhaite progresser.</p>

    <dl>Ce système est bénéfique pour les deux élèves :
        <dt>le tuteur</dt> <dd>Il acquière des compétences, car il doit comprendre d’où viennent les difficultés du tutoré, et reformuler ses connaissances.</dd> <dt>Le tutoré</dt> <dd>Il bénéficie d’une aide personnalisée dans le cadre d’une relation différente de celle qu’il a avec son professeur en classe.</dd></dl>

    <p>Le tuteur peut accepter d’aider deux élèves en même temps, s’ils sont de la même classe.</p>

    <!-- mettre image type celle du cdi -->
    <img src="">

    <h2>Comment ça marche ?</h2>
    <h2>Mode d'emploi :</h2>
    <img src=""> <!-- faire un mode d'emploi -->
{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
