<!DOCTYPE html>
<html>

{% with name="Administration" %}{% include "HEAD.html" %}{% endwith %}

<body>

{% include 'HEADER.html' %}

<div class="header">
    <div>
        <div></div>
        <nav>
            <ul>
                <li><a href="/admin/tutorials/validate">A valider</a></li>
                <li><a href="/admin/tutorials/progress">En cours</a></li>
                <li><a href="/admin/users">Utilisateurs</a></li>
            </ul>
        </nav>
        <div></div>
    </div>
</div>


{% if info_msg %}
    <!-- Message d'information -->
    <a href="/admin/users" class="info_msg" id="page_admin_msg">
        <div>{{ info_msg }}</div>
    </a>
{% endif %}


<form method="post" class="user_search">
    <h2>Rechercher un utilisateur</h2>
    <input name="user_search" class="user_search_admin"/>
</form>


<!-- Liste des users -->
<div class="admin" id="admin1">
    <h2>Utilisateurs</h2>
    {% if user_list|length>0 %}
        {% for user in user_list %}
            <div class="bloc_profil" id="user_admin">
                <div class="info_profil" id="informations">
                    <p><strong class="G">Nom:</strong></p>
                    <p><strong class="G">Mail:</strong></p>
                    <p><strong class="G">Classe:</strong></p>
                    <p><strong class="G">Admin:</strong></p>
                    <p><strong class="G">Ban:</strong></p>
                </div>
                <div class="info_profil" id="informations2">
                    <p>{{ user[0] }}{% for tutorat in tutorats_actifs %}{%  if tutorat[1] == user[2] %}<img src="/static/tuteur.png" id="tuteur" title="Nombre de tutorats créé par cet utilisateur">{% endif %}{% endfor %}{% for tutorat in tutorats_actifs %}{%  if tutorat[5] == user[2] or tutorat[6] == user[2] %}<img src="/static/tutoré.png" id="tutore" title="Nombre de tutorats suivi par cet utilisateur">{% endif %}{% endfor %}</p>
                    <p>{{ user[2] }}</p>
                    <p>{{ user[3] }}</p>
                    {% if user[4]==1 %}
                        <p>Oui</p>
                    {% else %}
                        <p>Non</p>
                    {% endif %}
                    {% if user[5]==1 %}
                        <p>Oui</p>
                    {% else %}
                        <p>Non</p>
                    {% endif %}
                </div>
                {% if user[5]==1 %}
                    <a href="/ban?user_name={{ user[0] }}" class="ban">
                        <button>Débannir</button>
                    </a>
                {% else %}
                    <a href="/ban?user_name={{ user[0] }}" class="ban">
                        <button>Bannir</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="bloc" id="none_offre">
            <p class="none_offre">Aucun utilisateur n'a été trouvé</p>
        </div>
    {% endif %}
    <br />
</div>

{% include 'FOOTER.html' %}

</body>
</html>
