<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Connexion</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<h4>Connectez vous :</h4>

<p>
    Identifiant ou adresse e-mail :
</p>
<p>
    <TEXTAREA name="login" rows=1 cols=40/>
</p>
<p>
    Mot de passe :
</p>
<p>
    <TEXTAREA name="Mot de passe" rows=1 cols=20/>
</p>
<p>
    Pour vous connecter, cliquez ici :
    <button onclick="ClicBouton();">Connexion</button>

    <script type="text/javascript">
        function ClicBouton() {
            submit();
        }
    </script>
</p>
<p>
    Mot de passe oublié ? <a href="forgot">
    <button>Mot de passe oublié</button>
</a>
</p>
<p>
    Pas encore inscrit ! Inscrivez vous en cliquant ici : <a href="register">
    <button>Inscription</button>
</a>
</p>

{% include 'FOOTER.html' %}

</body>
</html>

