<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Connexion</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<h2>Connectez vous :</h2>
<div class="bloc_connexion">
    <div class="connexion">
        <div class="champs">
            <p class="login">Identifiant ou adresse e-mail :</p>
            <p><TEXTAREA value="mail" name="mail"></TEXTAREA></p>
        </div>
        <div class="champs">
            <p>Mot de passe :</p>
            <p><TEXTAREA value="mdp" name="mdp"></TEXTAREA></p>
        </div>
        <div class="champs">
            <p><button value="connexion">Connexion</button><a href="forgot"><button>Mot de passe oublié</button></a></p>
        </div>
        <div class="champs">
            <p>Pas encore inscrit ! Inscrivez vous en cliquant ici :</p>
            <p><a href="register"><button>Inscription</button></a></p>
        </div>
    </div>
</div>


{% include 'FOOTER.html' %}

</body>
</html>

