<!DOCTYPE html>
<html>

{% with name="Connexion" %}{% include "HEAD.html" %}{% endwith %}

<body>

{% include 'HEADER.html' %}

{% if info_msg %}
    <!-- Message d'information -->
    <a href="/login" class="info_msg">
        <div>{{ info_msg }}</div>
    </a>
{% endif %}

<h2 class="log">Connectez vous :</h2>

<div class="bloc_connexion">
    <form method="post">
        <div class="connexion">
            <div class="champs">
                <p class="login">Adresse e-mail :</p>
                <p><input name="mail" class="password"/></p>
            </div>
            <div class="champs">
                <p class="login">Mot de passe :</p>
                <p><input type="password" name="mdp" class="password"/></p>
            </div>
            <div class="champs">
                <p><input type="submit" value="Connexion"/>
                    <button><a class="mdp_oublie" href="forgot">Mot de passe oublié</a></button>
                </p>
            </div>
            <div class="champs">
                <p class="not_register">Pas encore inscrit ! Inscrivez vous en cliquant ici :</p>
                <p><a href="/register">
                    <button>Inscription</button>
                </a></p>
            </div>
        </div>
    </form>
</div>


{% include 'FOOTER.html' %}

</body>
</html>
