<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>Poster une offre</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<!-- Formulaire de création -->
<form method="post" action="create">
    <h1>Création d'une offre de Tutorat:</h1>
    <h2>Auteur: {{ user }}</h2>
    <input type="hidden" name="auteur" value="{{ user }}">

    <!-- Niveau -->
    <p>Vous voulez aider un elève ayant un niveau :
        <SELECT name="niveau" size="1" required>
            <option value="" disabled selected>-sélectionnez un niveau-</option>
            {% for niveau in niveaux %}
                <option>{{ niveau }}</option>
            {% endfor %}
        </SELECT>
    </p>

    <!-- Matière -->
    <p>Vous souhaitez l'aider en :
        <SELECT name="matiere" size="1" required>
            <option value="" disabled selected>-sélectionnez une matiere-</option>
            {% for matiere in matieres %}
                <option>{{ matiere }}</option>
            {% endfor %}
        </SELECT>
    </p>

    <fieldset><!-- Horaires -->
        <legend>Vos disponibilités (laissez vide en cas d'impossibilité)</legend>
        <table>
            <tr>
                <td>Lundi</td>
                <td>Début <input type="time" name="debut_j1" step="600" min="07:00" max="20:00"/></td>
                <td>Fin <input type="time" name="fin_j1" step="600" min="07:00" max="20:00"/></td>
            </tr>
            <tr>
                <td>Mardi</td>
                <td>Début <input type="time" name="debut_j2" step="600" min="07:00" max="20:00"/></td>
                <td>Fin <input type="time" name="fin_j2" step="600" min="07:00" max="20:00"/></td>
            </tr>
            <tr>
                <td>Mercredi</td>
                <td>Début <input type="time" name="debut_j3" step="600" min="07:00" max="20:00"/></td>
                <td>Fin <input type="time" name="fin_j3" step="600" min="07:00" max="20:00"/></td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>Début <input type="time" name="debut_j4" step="600" min="07:00" max="20:00"/></td>
                <td>Fin <input type="time" name="fin_j4" step="600" min="07:00" max="20:00"/></td>
            </tr>
            <tr>
                <td>Vendredi</td>
                <td>Début <input type="time" name="debut_j5" step="600" min="07:00" max="20:00"/></td>
                <td>Fin <input type="time" name="fin_j5" step="600" min="07:00" max="20:00"/></td>
            </tr>
            <tr>
                <td>Samedi</td>
                <td>Début <input type="time" name="debut_j6" step="600" min="07:00" max="13:00"/></td>
                <td>Fin <input type="time" name="fin_j6" step="600" min="07:00" max="13:00"/></td>
            </tr>
        </table>

    </fieldset>

    <input type="submit" value="Créer mon offre"/>
</form>

{% include 'FOOTER.html' %}

</body>
