<!DOCTYPE html>
<html>

{% if demande %}
    {% with name="Poster une demande" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}
{% else %}
    {% with name="Poster une offre" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}
{% endif %}

<!-- Horaires -->
<style type="text/css" media="all">@import "/static/css/jquery.timepicker.min.css";</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datepair.min.js"></script>
<script type="text/javascript">
    jQuery(function () {
        // Default.
        $(".time.start").timepicker({
            'timeFormat': 'H:i',
            'forceRoundTime': true,
            'minTime': '08:00',
            'maxTime': '19:30',
            'disableTextInput': true,
            'noneOption': "Annuler"
        });
        $(".time.end").timepicker({
            'timeFormat': 'H:i',
            'forceRoundTime': true,
            'minTime': '08:30',
            'maxTime': '20:00',
            'disableTextInput': true,
            'showDuration': true,
            'noneOption': "Annuler"
        });

        {% for i in range(0,6) %}
            $("#day_{{ i }}").datepair({
                'defaultTimeDelta': 1800000
            });
        {% endfor %}
    });
</script>
<!-- Fin Horaires -->

<body oncontextmenu="return false">

{% include 'mise_en_page/HEADER.html' %}

<form method="post" action="/create">
    <h2 class="crea_title">Création d'une
        <select class="offre_demande" name="categorie" onchange="this.form.submit()">
            <option value="offre">offre</option>
            <option value="demande" {% if demande %}selected{% endif %}>demande</option>
        </select>
        de Tutorat
    </h2>
</form>

<!-- Formulaire de création -->
<form method="post" action="/create" class="form_crea">
    <div class="creation">
        <div class="bloc">
            <div class="info_crea">
                {% if demande %}
                    <p class="element"><strong class="G">Vous êtes en :</strong> {{ classe }}</p>
                    <input type="hidden" name="classe" value="{{ classe }}"/>
                {% else %}
                    <!-- Filière -->
                    <p class="element"><strong class="G">Vous voulez aider un élève de : </strong>
                        <SELECT name="filiere" class="tri3" required>
                            <option value="" disabled selected>- Filiere -</option>
                            {% for filiere in filieres %}
                                <option>{{ filiere }}</option>
                            {% endfor %}
                        </SELECT></p>
                {% endif %}
                <!-- Matière -->
                <p class="element"><strong class="G">Vous souhaitez {% if demande %}être aidé{% else %}
                    l'aider{% endif %} en : </strong>
                    <SELECT name="matiere" class="tri3" required>
                        <option value="" disabled selected>- Matiere -</option>
                        {% for matiere in matieres %}
                            <option>{{ matiere }}</option>
                        {% endfor %}
                    </SELECT></p>
                <div class="crea_offre_bloc">
                    {% if demande %}
                        <input type="submit" class="crea_offre" value="Créer ma demande"/>
                    {% else %}
                        <input type="submit" class="crea_offre" value="Créer mon offre"/>
                    {% endif %}
                    <p class="remarque"> {% if not demande %}
                        <a title="Si elles sont dans la même classe">Remarque : un tuteur peut aider deux personnes
                            *</a>{% else %}{% endif %}</p>
                </div>
            </div>
            <!-- Horaires -->
            <div id="horaires_crea">
                <div class="horaire">
                    <div class="table_crea">
                        {% for i in range(0,6) %}
                            <p class="jours">{{ days[i] }}: </p>
                        {% endfor %}
                    </div>
                    <div class="table_crea" id="table_horaires_crea">
                        {% for i in range(0,6) %}
                            <p id="day_{{ i }}">
                                <input type="text" name="debut_j{{ i }}" class="time start" id="time_start"/>
                                à
                                <input type="text" name="fin_j{{ i }}" class="time end" id="time_end"/>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
