<!DOCTYPE html>
<html>

{% with name="Poster une offre" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}


<h2 class="crea_title">Création d'une offre de Tutorat</h2>

<!-- Formulaire de création -->
<form method="post" action="/create" class="form_crea">
    <div class="creation">
        <div class="bloc">
            <div class="info_crea">
                <!-- Elève -->
                <p class="element"><strong class="G">Vous voulez aider un élève de : </strong>
                    <SELECT name="filiere" class="tri3" required>
                        <option value="" disabled selected>- Filiere -</option>
                        {% for filiere in filieres %}
                            <option>{{ filiere }}</option>
                        {% endfor %}
                    </SELECT>
                    <!-- Matière -->
                <p class="element"><strong class="G">Vous souhaitez l'aider en : </strong>
                    <SELECT name="matiere" class="tri3" required>
                        <option value="" disabled selected>- Matiere -</option>
                        {% for matiere in matieres %}
                            <option>{{ matiere }}</option>
                        {% endfor %}
                    </SELECT></p>
                <input type="submit" class="crea_offre" value="Créer mon offre"/>
            <!--- A mettre en petit en remarque --->
                <p title="Si les deux sont dans la même classe.">Remarque : un tuteur peut aider deux personnes.</p>
                <!---à mettre en bas à droite en dessous des horaires --->
                <p>Besoin d'aide ?</p>
            <a class="aide_creation" title="" <!---href="/aide_creation"---><img src="/static/help.png"></a>
            </div>
            <!-- Horaires -->
            <div id="horaires_crea">
                <div class="horaire">
                    <div class="table_crea">
                        {% for i in range(0,6) %}
                            <p class="jours">{{ days[i] }}: </p>
                        {% endfor %}
                    </div>
                    <div class="table_crea" id="table_horaires_crea">
                        {% for i in range(0,6) %}
                            <p><input type="time" name="debut_j{{ i }}" step="1800" min="07:00" max="20:00"/><input
                                    type="time" name="fin_j{{ i }}" step="1800" min="07:00" max="20:00"/></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
