<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Une erreur est survenue</title>
    {% if css_state %}<link rel=stylesheet type=text/css href="/static/style.css">
    {% else %}<link rel=stylesheet type=text/css href="/static/style_claire.css">{% endif %}
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<div class="error">
    <p>{{ message }}</p>
    <p><img src="/static/error.png" /></p>
</div>

{% include 'FOOTER.html' %}

</body>
</html>
