<footer>
	<div class="lycee">
		<p>Lycée Blaise Pascal</p>
		<p><strong class="G">Adresse : </strong>36 Avenue Carnot, 63000 Clermont-Ferrand</p>
		<p class="end"><strong class="G">Téléphone : </strong>04 73 98 26 50</p>
	</div>

    <div><a href="http://www.entauvergne.fr/public/0630018C/Pages/Pr%C3%A9sentation.aspx"><img src="/static/favicon_mini.png" alt=""></a></div>

	<div class="copyright"> 
		<ul>
			<li>Desmoulins Marco</li>
			<li>Labarussias Antoine</li>
			<li>Blancheton Tao</li>
		</ul>
	</div>
</footer>