<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <title>Footer</title>
        <link rel="stylesheet" href="style.css" /> 
        <link rel="icon" type="image/png" href="images/favicon.png" />     
	</head>

	<body>
		<footer>
			<div class="lycee">
				<p>Lycée Blaise Pascal</p>
				<p><strong class="G">Adresse : </strong>36 Avenue Carnot, 63000 Clermont-Ferrand</p>
				<p class="end"><strong class="G">Téléphone : </strong>04 73 98 26 50</p>
			</div>

			<div><img src="images/favicon_mini.png" alt=""></div>

			<div class="copyright"> 
				<ul>
					<li>Desmoulins Marco</li>
					<li>Labarussias Antoine</li>
					<li>Blancheton Tao</li>
				</ul>
			</div>
		</footer>
	</body>
</html>