<header>
    <div>
        <a href="/css"><button class="css"></button></a>
        <a href="/css"><button class="css2"></button></a>
        <h1 class="nom_du_site">Tutorat - Blaise Pascal</h1>
        {% if not hidemenu %}
            <nav class="page_du_site">
                <ul>
                    <li><a href="/search">Liste des offres</a></li>
                    <li><a href="/create">Poster une offre</a></li>
                    <li><a href="/profile/view">Profil</a></li>
                    {% if admin_user %}<li><a href="/admin">Administration</a></li>{% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</header>
