<header>
    <div>
        <a href="/" id="header_icon"><img src="/static/main_logo.png"></a>
        {% if not hidemenu %}
            <nav>
                <ul>
                    <li><a href="/search">Rechercher</a></li>
                    <li><a href="/create">Créer</a></li>
                </ul>
            </nav>
            <div class="icon" id="header_icon">
                <a href="/profile/view" class="profile"><img src="/static/profil.png"></a>
                {% if admin_user %}
                    <a href="/admin/tutorials/validate" class="admin"><img src="/static/admin.png"></a>
                    <a href="/admin/tutorials/validate?reset_msg=True" class="admin"><img src="/static/reset.png"></a>
                {% endif %}
                <a href="/disconnect" class="admin"><img src="/static/disconnect.png"></a>
            </div>
        {% endif %}
    </div>
</header>

{% if info_msg %}
    <!-- Message d'information qui reload la page -->
    <a onclick="window.location.href=window.location.pathname" class="info_msg">
        <div>{{ info_msg }}</div>
    </a>
{% endif %}