<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <title>Header</title>
        <link rel="stylesheet" href="style_header.css" /> 
        <link rel="icon" type="image/png" href="images/favicon.png" />     
	</head>

	<body>
		<header>
			<div>
			<h1 class="nom_du_site">Tutorat - Blaise Pascal</h1>
			<nav class="page_du_site">
				<ul>
					<li><a href="#">Rechercher</a></li>
					<li><a href="#">Poster</a></li>
					<li><a href="#">Profile</a></li>
				</ul>
			</nav>
			</div>
		</header>
	</body>
</html>