<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Inscription</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>

<body>

{% include 'HEADER.html' %}

<h4>Inscrivez vous :</h4>

<p>
    Choisissez un identifiant :
    <TEXTAREA name="login" rows=1 cols=40></TEXTAREA>
</p>

<p>
    Entrez une adresse email valide :
    <TEXTAREA name="email" rows=1 cols=40></TEXTAREA>
</p>


<p>
    Choisissez un mot de passe :
    <TEXTAREA name="Mot de passe" rows=1 cols=20></TEXTAREA>
</p>

<p>
    (Entre 6 et 12 caractères)
</p>

<p>
    Entrez votre niveau scolaire :

    <SELECT name="Niveau" size="1">
        <option selected>-sélectionnez un niveau scolaire-</option>
		{% for niveau in niveaux %}
        <option>{{ niveau }}</option>
		{% endfor %}
    </SELECT>
    <!-- Les menus déroulants des filières qui suivent doivent s'afficher en fonction du niveau sélectionné -->
</p>

<p>
    Entrez votre filière :

    <SELECT name="filière_Lycée" size="1">
        <option selected>-sélectionnez une filière-
        <option>S</option>
        <option>ES</option>
        <option>L</option>
    </SELECT>

</p>

<p>
    Entrez votre filière :

    <SELECT name="filière_prépa_première_année" size="1">
        <option selected>-sélectionnez une filière-</option>
        <option>MPSI</option>
        <option>PCSI</option>
        <option>HK</option>
        <option>ECE</option>
        <option>ECS</option>
        <option>BCPST</option>
    </SELECT>

</p>

<p>
    Entrez votre filière :

    <SELECT name="filière_prépa_deuxième_année" size="1">
        <option selected>-sélectionnez une filière-</option>
        <option>MP</option>
        <option>PSI</option>
        <option>K</option>
        <option>ECE</option>
        <option>ECS</option>
        <option>BCPST</option>

    </SELECT>

</p>
<!-- FIN de la partie dépendante du niveau sélectionné -->
<p>Finalisez votre inscription en cliquant ici : <a href="validate">
    <button>Inscription</button>
</a></p>

{% include 'FOOTER.html' %}

</body>
</html>

