<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Inscription</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>

<body>

{% include 'HEADER.html' %}

<h2 class="reg">Inscrivez vous :</h2>
<div class="bloc_inscription">
    <div class="inscription">
        <div class="critere">
            <p class="register">Choisissez un identifiant :</p>
            <p><TEXTAREA name="login"></TEXTAREA></p>
        </div>
        <div class="critere">
            <p class="register">Entrez une adresse email valide :</p>
            <p><TEXTAREA name="email"></TEXTAREA></p>
        </div>
        <div class="critere">
            <p class="register">Choisissez un mot de passe :</p>            
            <p><TEXTAREA name="Mot de passe" type="password"></TEXTAREA></p>
        </div>
        <div class="critere">
            <p class="register">Entrez votre niveau scolaire :</p>
            <p><SELECT class="tri2">
                <option value="" selected disabled>- Niveau -</option>
                {% for niveau in niveaux %}
                <option>{{ niveau }}</option>
                {% endfor %}
            </SELECT></p>
        </div>
        <div class="critere">
            <p class="register">Entrez votre filière :</p>
            <p><SELECT class="tri2">
                <option value="" selected disabled>- Filière -</option>
                {% for filiere in filieres %}
                <option>{{ filiere }}</option>
                {% endfor %}
            </SELECT></p>
        </div>
        <div class="critere">
            <p><a href="validation.html"><button>Inscription</button></a></p>
        </div>
    </div>
</div>

{% include 'FOOTER.html' %}

</body>
</html>

