<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Inscription</title>
    {% if css_state %}
        <link rel=stylesheet type=text/css href="/static/style.css">
    {% else %}
        <link rel=stylesheet type=text/css href="/static/style_claire.css">{% endif %}
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>

<body>

{% include 'HEADER.html' %}

<h2 class="reg">Inscrivez vous :</h2>
<!-- Formulaire de création -->
<form method="post" action="/register">
    <div class="bloc_inscription">
        <div class="inscription">
            <div class="critere">
                <p class="register">Entrez votre nom :</p>
                <p><input type="text" name="nom"></p>
            </div>
            <div class="critere">
                <p class="register">Entrez votre prénom :</p>
                <p><input type="text" name="prenom"></p>
            </div>
            <div class="critere">
                <p class="register">Entrez une adresse email valide :</p>
                <p><input type="text" name="mail"></p>
            </div>
            <div class="critere">
                <p class="register">Choisissez un mot de passe :</p>
                <p><input type="text" name="mdp"></p>
            </div>
            <div class="critere">
                <p class="register">Entrez votre niveau scolaire :</p>
                <p><SELECT required name="niveau" class="tri2">
                    <option value="" selected disabled>- Niveau -</option>
                    {% for niveau in niveaux %}
                        <option>{{ niveau }}</option>
                    {% endfor %}
                </SELECT></p>
            </div>
            <div class="critere">
                <p class="register">Entrez votre filière :</p>
                <p><SELECT required name="filiere" class="tri2">
                    <option value="" selected disabled>- Filière -</option>
                    {% for filiere in filieres %}
                        <option>{{ filiere }}</option>
                    {% endfor %}
                </SELECT></p>
            </div>
            <div class="critere">
                <p>
                    <a href="/search?info_msg=Votre inscription est terminée. Vous pouvez dès à présent commencer à utiliser le service de Tutorat.">
                        <input type="submit" value="Inscription"/>
                    </a></p>
            </div>
        </div>
    </div>
</form>
{% include 'FOOTER.html' %}

</body>
</html>
