<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>Mot de Passe oublié</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<div class="bloc_forgot">
	<div class="forgot">
		<div class="reset">
			<p>Entrez l'adresse email que vous utilisez sur BlaBlaTutorat :</p>
			<p><TEXTAREA value="mail" name="mail"></TEXTAREA><p>
			<p><a href="login?info_msg=Votre mot de passe vient de vous être envoyé par email."><button>Valider</button></a></p>
		</div>
	</div>	
</div>

{% include 'FOOTER.html' %}

</body>
