<!DOCTYPE html>
<html>

{% with name="Mot de Passe oublié" %}{% include "HEAD.html" %}{% endwith %}

<body>

{% include 'HEADER.html' %}

<form method="post">
    <div class="bloc_forgot">
        <div class="forgot">
            <div class="reset">
                <p>Entrez l'adresse email que vous utilisez sur BlaBlaTutorat :</p>
                <p><input type="email" name="mail"/></p>
                <p><input type="submit" value="Valider"></p>
            </div>
        </div>
    </div>
</form>

{% include 'FOOTER.html' %}

</body>
</html>
