<!DOCTYPE html>
<html>

{% with name="Mot de passe oublié" %}{% include "HEAD.html" %}{% endwith %}

<body>

{% include 'HEADER.html' %}

<div class="bloc_forgot">
    <div class="forgot">
        <div class="reset">
            <p>Entrez l'adresse email que vous utilisez sur BlaBlaTutorat :</p>
            <p><TEXTAREA name="mail"></TEXTAREA></p>
            <p><a href="login?info_msg=Votre mot de passe vient de vous être envoyé par email.">
                <button>Valider</button>
            </a></p>
        </div>
    </div>
</div>

{% include 'FOOTER.html' %}

</body>
</html>
