<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon Profil</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<div class="bloc_page_profil">
    <!-- Infos de l'utilisateur -->
    <div class="page_profil" id="info_profil">
        <div class="bloc_profil">
            <h2>Vos informations</h2>
            <div class="profil">
                <div class="info_profil">
                    <p><strong class="G">Nom:</strong></p>
                    <p><strong class="G">Mail:</strong></p>
                    <p><strong class="G">Niveau:</strong></p>
                    <p><strong class="G">Filière:</strong></p>
                </div>
                <div class="info_profil">
                    <p>{{ infos[0] }}</p>
                    <p>{{ infos[2] }}</p>
                    <p>{{ infos[3] }}</p>
                    <p>{{ infos[4] }}</p>
                </div>
                <a href="/profile/update">
                    <button>Modifier</button>
                </a>
            </div>
        </div>
    </div>
    <div class="page_profil">
        <!-- Liste des offres crées par l'utilisateur -->
        <div class="offres">
            <h2>Vos offres en cours</h2>
            {% if offres_creees|length>0 %}
                {% for offre in offres_creees %}
                    <br/>
                    <div class="bloc">
                        <div class="info">
                            <p class="element"><strong class="G">Auteur:</strong> {{ offre[1] }}</p>
                            <p class="element"><strong class="G">Niveau:</strong> {{ offre[2] }}</p>
                            <p class="element"><strong class="G">Filière:</strong> {{ offre[3] }}</p>
                            <p class="element"><strong class="G">Matière:</strong> {{ offre[4] }}</p>
                            <p class="element"><strong class="G">Participants:</strong>
                                {% if offre[6] is none and offre[7] is none %}
                                    Personne
                                {% else %}
                                    {% if offre[6] is not none %}{{ offre[6] }}{% endif %}{% if offre[7] is not none %},
                                        {{ offre[7] }}{% endif %}
                                {% endif %}
                            </p>
                            <p class="element"><strong class="G">Etat de l'offre:</strong> {% if offre[8]==0 %}En
                                attente de validation{% else %}Publiée{% endif %}</p>
                        </div>
                        <div id="horaires">
                            <div class="horaire">
                                <div class="table">
                                    {% for i in range(0,12,2) %}
                                        {% if offre[9+i] is not none and offre[10+i] is not none %}
                                            <p>{{ days[i//2] }}:</p>
                                        {% endif %}{% endfor %}
                                </div>
                                <div class="table" id="table_horaires">
                                    {% for i in range(0,12,2) %}
                                        {% if offre[9+i] is not none and offre[10+i] is not none %}
                                            <p>{{ 'h'.join((offre[9+i]|string).split(':')[:2]) }}
                                                - {{ 'h'.join((offre[10+i]|string).split(':')[:2]) }}</p>
                                        {% endif %}{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <p class="time"><strong class="G">Publié le:</strong> {{ offre[5].strftime('%d-%m-%Y') }}
                            </p>
                            <p class="supr_offre"><a href="/delete?id={{ offre[0] }}">
                                <button>Suprimer l'offre</button>
                            </a></p>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            {% else %}
                <div class="bloc" id="none_offre">
                    <p class="none_offre">Vous n'avez pas encore crée d'offre</p>
                    <p class="none_offre"><a href="/create">
                        <button>Créer une offre</button>
                    </a></p>
                </div>
            {% endif %}
        </div>
        <div class="offres" id="tutorat_en_cours">
            <!-- TODO Liste des offres auxquelles participe l'utilisateur -->
            <h2>Vos Tutorats en cours</h2>
            {% if tutorats_actifs|length>0 %}
                {% for tutorat in tutorats_actifs %}
                    <br/>
                    <div class="bloc">
                        <div class="info">
                            <p class="element"><strong class="G">Auteur:</strong> {{ tutorat[1] }}</p>
                            <p class="element"><strong class="G">Mail de l'auteur:</strong> {{ sql_obj.get_user_info(user_name)[2] }}</p>
                            <p class="element"><strong class="G">Niveau:</strong> {{ tutorat[2] }}</p>
                            <p class="element"><strong class="G">Filière:</strong> {{ tutorat[3] }}</p>
                            <p class="element"><strong class="G">Matière:</strong> {{ tutorat[4] }}</p>
                            <p class="element"><strong class="G">Participants:</strong>
                                {% if tutorat[6] is none and tutorat[7] is none %}
                                    Personne
                                {% else %}
                                    {% if tutorat[6] is not none %}{{ tutorat[6] }}{% endif %}
                                    {% if tutorat[7] is not none %}, {{ tutorat[7] }}{% endif %}
                                {% endif %}
                            </p>
                        </div>
                        <div id="horaires">
                            <div class="horaire">
                                <div class="table">
                                    {% for i in range(0,12,2) %}
                                        {% if tutorat[9+i] is not none and tutorat[10+i] is not none %}
                                            <p>{{ days[i//2] }}:</p>
                                        {% endif %}{% endfor %}
                                </div>
                                <div class="table" id="table_horaires">
                                    {% for i in range(0,12,2) %}
                                        {% if tutorat[9+i] is not none and tutorat[10+i] is not none %}
                                            <p>{{ 'h'.join((tutorat[9+i]|string).split(':')[:2]) }}
                                                - {{ 'h'.join((tutorat[10+i]|string).split(':')[:2]) }}</p>
                                        {% endif %}{% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <p class="time"><strong class="G">Publié le:</strong> {{ tutorat[5].strftime('%d-%m-%Y') }}
                            </p>
                            <p class="supr_offre"><a href="/quit?id={{ tutorat[0] }}">
                                <button>Quitter ce tutorat</button>
                            </a></p>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            {% else %}
                <div class="bloc" id="none_offre">
                    <p class="none_offre">Vous ne participez à aucun Tutorat</p>
                    <p class="none_offre"><a href="/search">
                        <button>Rechercher une offre</button>
                    </a></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'FOOTER.html' %}

</body>
</html>
