<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon Profil</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<div class="bloc_profil">
	<div class="profil">
		<div class="info_profil">
			<p><strong class="G">Nom:</strong></p>
			<p><strong class="G">Mail:</strong></p>
			<p><strong class="G">Niveau:</strong></p>
			<p><strong class="G">Filière:</strong></p>
		</div>
		<div class="info_profil">
			<p>{{ infos[0] }}</p>
			<p>{{ infos[2] }}</p>
			<p>{{ infos[3] }}</p>
			<p>{{ infos[4] }}</p>
		</div>
	</div>
</div>

{% include 'FOOTER.html' %}

</body>
</html>
