<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon Profil</title>
    {% if css_state %}<link rel=stylesheet type=text/css href="/static/style.css">
    {% else %}<link rel=stylesheet type=text/css href="/static/style_claire.css">{% endif %}
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}
<form method="post" action="/profile/update" class="majprofil">
    <div class="bloc_page_profil">
        <div class="page_profil">
            <div class="bloc_profil" id="maj_profil">
                <h2>Vos informations</h2>
                <div class="profil">
                    <div class="info_profil">
                        <p><strong class="G">Nom:</strong></p>
                        <p><strong class="G">Mail:</strong></p>
                        <p><strong class="G">Classe:</strong></p>
                    </div>
                    <div class="info_profil">
                        <!-- Nom non modifiable -->
                        <p>{{ infos[0] }}</p>
                        <!-- Mail modifiable -->
                        <p><input class="tri5" name="mail" type="text" required value="{{ infos[2] }}"></p>
                        <!-- Classe modifiable -->
                        <p><select class="tri4" required name="classe">
                            {% for classe in classes %}
                                <option {% if classe == infos[3] %}selected{% endif %}>{{ classe[2] }}</option>
                            {% endfor %}
                        </select></p>
                    </div>
                </div>
                <input type="submit" value="Enregistrer les changements">
            </div>
        </div>
    </div>
</form>
{% include 'FOOTER.html' %}

</body>
</html>
