<!DOCTYPE html>
<html>

{% with name="Mon Profil" %}{% include "HEAD.html" %}{% endwith %}

<body>

{% include 'HEADER.html' %}

<div class="header">
    <div>
        <div></div>
        <nav>
            <ul>
                <li><a href="/profile/view">Informations</a></li>
                <li><a href="/profile/tutorials">Tutorats</a></li>
            </ul>
        </nav>
        <div></div>
    </div>
</div>

{% if info_msg %}
    <!-- Message d'information -->
    <a href="/profile/view" class="info_msg" id="page_admin_msg">
        <div>{{ info_msg }}</div>
    </a>
{% endif %}

<div class="bloc_page_profil">
    <!-- Infos de l'utilisateur -->
    <div class="page_profil" id="info_profil">
        <div class="bloc_profil">
            <h2>Vos informations</h2>
            <div class="profil">
                <div class="info_profil">
                    <p><strong class="G">Nom:</strong></p>
                    <p><strong class="G">Mail:</strong></p>
                    <p><strong class="G">Classe:</strong></p>
                </div>
                <div class="info_profil">
                    <p>{{ infos[0] }}</p>
                    <p>{{ infos[2] }}</p>
                    <p>{{ infos[3] }}</p>
                </div>
                <a href="/profile/update">
                    <button>Modifier</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'FOOTER.html' %}

</body>
</html>
