<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>Liste des offres</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<!-- Liste des offres + critères de recherche -->
<div class="offres">
    {% for offre in offres %}
        <br/>
        <div>
            <p class="element"><strong class="G">Auteur:</strong> {{ offre[1] }}</p>
            <p class="element"><strong class="G">Niveau:</strong> {{ offre[2] }}</p>
            <p class="element"><strong class="G">Matière:</strong> {{ offre[3] }}</p>
            <form class="bouton" method="post" action="apply">
                <input type="hidden" name="id" value="{{ offre[0] }}"/>
                <input type="submit" value="Accepter l'offre"/>
            </form>
            <p class="element"><strong class="G">Date de publication:</strong> {{ offre[4].strftime('%d-%m-%Y') }}</p>
        </div>
        <br/>
    {% endfor %}
</div>


{% include 'FOOTER.html' %}

</body>
