<!DOCTYPE html>
<html>

{% with name="Liste des offres" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<!-- Critères de recherche -->
<form class="search" method="post" action="/search">
    <div class="critere">

        <a class="button" id="reset_filter" onclick="window.location.href=window.location.pathname">Réinitialiser les
            filtres</a>

        <!-- Rechargement de la page lors du changement de catégorie -->
        <select class="tri" name="categorie"
                onchange="if(document.getElementById('option')!=null){document.getElementById('option').selectedIndex = -1}
                this.form.submit()">
            <option value="offre">Offre</option>
            <option value="demande" selected>Demande</option>
        </select>

        <!-- Rechargement de la page lors du changement de la méthode de tri -->
        <select class="tri" name="option" id="option" onchange="this.form.submit()">
            <option value="" disabled selected>- Trier par -</option>
            <option value="suggestion">Suggestion</option>
        </select>

    </div>

    <!-- Gestion des pages-->
    <div class="pages">
        <p>
            <input type="hidden" name="page" value="{{ page }}">
            {% if page>0 %}<input type="submit" name="precedent" value="Page précédente">
            {% else %}<input type="submit" name="suivant" value="Page suivante">{% endif %}
            <strong class="G">{{ page + 1 }}</strong>
            <input type="submit" name="suivant" value="Page suivante">
        </p>
    </div>
</form>


<!-- Liste des demandes -->
<div class="demandes">
    {% if demandes|length>0 %}
        {% for demande in demandes %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur :</strong>
                        <a onclick="open_profile_page('{{ demande[1] }}')"
                           title="Voir le profil">{{ sql_obj.get_user_pseudo(demande[1]) }}</a>
                    </p>
                    <p class="element"><strong class="G">En classe de :</strong> {{ demande[2] }}</p>
                    <p class="element"><strong class="G">Matière :</strong> {{ demande[3] }}</p>
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ demande[4].strftime('%d/%m/%Y') }}</p>
                    <div class="horaire">
                        <div class="table" id="jour-offre">
                            {% for i in range(0,6) %}
                                <p>{{ days[i] }}</p>
                            {% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            <table class="heure-table">
                                <tr>
                                    <th>08h</th>
                                    <th></th>
                                    <th>09h</th>
                                    <th></th>
                                    <th>10h</th>
                                    <th></th>
                                    <th>11h</th>
                                    <th></th>
                                    <th>12h</th>
                                    <th></th>
                                    <th>13h</th>
                                    <th></th>
                                    <th>14h</th>
                                    <th></th>
                                    <th>15h</th>
                                    <th></th>
                                    <th>16h</th>
                                    <th></th>
                                    <th>17h</th>
                                    <th></th>
                                    <th>18h</th>
                                    <th></th>
                                </tr>
                            </table>
                            {% for i in range(0,6) %}
                                <table>
                                    <tr>
                                        {% for H in (demande[7]|list)[i*22:(i + 1)*22] %}
                                            {% if (H|int) == 0 %}
                                                <td class="white"></td>
                                            {% elif (H|int) == 1 %}
                                                <td class="red"></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                    <form class="bouton" method="post" action="/apply">
                        <input type="hidden" name="categorie" value="demande"/>
                        <input type="hidden" name="id" value="{{ demande[0] }}"/>
                        <input type="submit" value="Se proposer comme tuteur"/>
                    </form>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune demande n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
