<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Liste des offres</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<!-- Critères de recherche -->
<form class="search" method="post" action="/search">

    <!-- Rechargement de la page lors du changement de la méthode de tri -->
    <select class="tri" name="option" onchange="this.form.submit()">
        <option value="" disabled {% if not option %}selected{% endif %}>- Tri -</option>
        <option value="date_time" {% if option == "date_time" %}selected{% endif %}>Date croissante</option>
        <option value="niveau" {% if option == "niveau" %}selected{% endif %}>Niveau</option>
        <option value="filiere" {% if option == "filiere" %}selected{% endif %}>Filière</option>
        <option value="matiere" {% if option == "matiere" %}selected{% endif %}>Matière</option>
    </select>

    {% if option == "niveau" or option == "matiere" or option == "filiere" %}
        <!-- Paramètre de tri 2 -->
        <select class="tri" name="option2" onchange="this.form.submit()">
            <option value="" disabled selected>- Tri -</option>
            {% if option == "niveau" %}
                {% for niveau in niveaux %}
                    <option {% if option2 == niveau %}selected{% endif %}>{{ niveau }}</option>
                {% endfor %}
            {% elif option == "matiere" %}
                {% for matiere in matieres %}
                    <option {% if option2 == matiere %}selected{% endif %}>{{ matiere }}</option>
                {% endfor %}
            {% elif option == "filiere" %}
                {% for filiere in filieres %}
                    <option {% if option2 == filiere %}selected{% endif %}>{{ filiere }}</option>
                {% endfor %}
            {% endif %}
        </select>
    {% endif %}

    <!-- Gestion des pages-->
    <div class="pages">
        <p>
            <input type="hidden" name="page" value="{{ page }}">
            {% if page>0 %}<input type="submit" name="precedent" value="Page précédente">{% endif %}
            {% if page==0 %}<input type="submit" name="suivant" value="Page suivante">{% endif %}
            <strong class="G">{{ page }}</strong>
            <input type="submit" name="suivant" value="Page suivante">
        </p>
    </div>
</form>

{% if info_msg %}
    <!-- Message d'information -->
    <a href="/search">
        <button class="created">{{ info_msg }}</button>
    </a>
{% endif %}

<!-- Liste des offres -->
<div class="offres">
    {% if offres|length>0 %}
        {% for offre in offres %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur:</strong> {{ offre[1] }}</p>
                    <p class="element"><strong class="G">Niveau:</strong> {{ offre[2] }}</p>
                    <p class="element"><strong class="G">Filière:</strong> {{ offre[3] }}</p>
                    <p class="element"><strong class="G">Matière:</strong> {{ offre[4] }}</p>
                    <form class="bouton" method="post" action="/apply">
                        <input type="hidden" name="id" value="{{ offre[0] }}"/>
                        <input type="submit" value="Accepter l'offre"/>
                    </form>
                </div>
                <div id="horaires">
                    <div class="horaire">
                        <div class="table">
                            {% for i in range(0,12,2) %}{% if offre[9+i] is not none and offre[10+i] is not none %}
                                <p>{{ days[i//2] }}:</p>
                            {% endif %}{% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            {% for i in range(0,12,2) %}{% if offre[9+i] is not none and offre[10+i] is not none %}
                                <p>{{ 'h'.join((offre[9+i]|string).split(':')[:2]) }}
                                    - {{ 'h'.join((offre[10+i]|string).split(':')[:2]) }}</p>
                            {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
                <div class="date">
                    <p class="time"><strong class="G">Publiée le:</strong> {{ offre[5].strftime('%d-%m-%Y') }}</p>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune offre n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'FOOTER.html' %}

</body>
</html>
