<!DOCTYPE html>
<html>

{% with name="Liste des offres" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<!-- Critères de recherche -->
<form class="search" method="post" action="/search">
    <div class="critere">

        <a class="button" id="reset_filter" onclick="window.location.href=window.location.pathname">Réinitialiser les
            filtres</a>

        <!-- Rechargement de la page lors du changement de catégorie -->
        <select class="tri" name="categorie" onchange="this.form.submit()">
            <option value="offre" selected>Offre</option>
            <option value="demande">Demande</option>
        </select>

        <!-- Rechargement de la page lors du changement de la méthode de tri -->
        <select class="tri" name="option"
                onchange="if(document.getElementById('option2')!=null){document.getElementById('option2').selectedIndex = -1}this.form.submit()">
            <option value="" disabled {% if not option %}selected{% endif %}>- Trier par -</option>
            <option value="date_time" {% if option == "date_time" %}selected{% endif %}>Date croissante</option>
            <option value="filiere" {% if option == "filiere" %}selected{% endif %}>Filière</option>
            <option value="matiere" {% if option == "matiere" %}selected{% endif %}>Matière</option>
        </select>

        {% if option == "matiere" or option == "filiere" %}
            <!-- Paramètre de tri 2 -->
            <select id="option2" class="tri" name="option2" onchange="this.form.submit()">
                <option value="" disabled selected>- Trier par -</option>
                {% if option == "filiere" %}
                    {% for filiere in filieres %}
                        <option {% if option2 == filiere %}selected{% endif %}>{{ filiere }}</option>
                    {% endfor %}
                {% elif option == "matiere" %}
                    {% for matiere in matieres %}
                        <option {% if option2 == matiere %}selected{% endif %}>{{ matiere }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        {% endif %}
    </div>

    <!-- Gestion des pages-->
    <div class="pages">
        <p>
            <input type="hidden" name="page" value="{{ page }}">
            {% if page>0 %}<input type="submit" name="precedent" value="Page précédente">
            {% else %}<input type="submit" name="suivant" value="Page suivante">{% endif %}
            <strong class="G">{{ page + 1 }}</strong>
            <input type="submit" name="suivant" value="Page suivante">
        </p>
    </div>
</form>


<!-- Liste des offres -->
<div class="offres">
    {% if offres|length>0 %}
        {% for offre in offres %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p>Offre créée le {{ offre[4].strftime('%d/%m/%Y') }}</p>
                    <p class="element"><strong class="G">Auteur:</strong>
                        <a onclick="open_profile_page('{{ offre[1] }}')" title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[1]) }}</a>
                    </p>
                    <p class="element"><strong class="G">Pour des:</strong> {{ offre[2] }}</p>
                    <p class="element"><strong class="G">Matière:</strong> {{ offre[3] }}</p>
                    <p class="element"><strong class="G">Participant(s) :</strong>
                        {% if offre[5] is none %}
                            Aucun
                        {% else %}
                            <a onclick="open_profile_page('{{ offre[5] }}')"
                               title="Voir le profil">{{ sql_obj.get_user_pseudo(offre[5]) }}</a>
                            <br/>
                            (1 place restante)
                        {% endif %}
                    </p>
                </div>
                <div id="horaires">
                    <div class="horaire">
                        <div class="table">
                            {% for i in range(0,12,2) %}{% if offre[8+i] is not none and offre[9+i] is not none %}
                                <p>{{ days[i//2] }}:</p>{% endif %}{% endfor %}
                        </div>
                        <div class="table" id="table_horaires">
                            {% for i in range(0,12,2) %}{% if offre[8+i] is not none and offre[9+i] is not none %}
                                <p>{{ 'h'.join((offre[8+i]|string).split(':')[:2]) }}
                                    - {{ 'h'.join((offre[9+i]|string).split(':')[:2]) }}</p>{% endif %}{% endfor %}
                        </div>
                    </div>
                    <form class="bouton" method="post" action="/apply">
                        <input type="hidden" name="categorie" value="offre"/>
                        <input type="hidden" name="id" value="{{ offre[0] }}"/>
                        <input type="submit" value="Accepter l'offre"/>
                    </form>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune offre n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
