<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>Recherche d'offres</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

{% include 'HEADER.html' %}

<!-- Liste des offres + critères de recherche -->
<table>
    <!-- Titre -->
    <caption>Liste des offres de tutorat</caption>

    <!-- Entête -->
    <thead>
    <tr>
        <th>Auteur</th>
        <th>Niveau</th>
        <th>Matière</th>
        <th>Postuler</th>
    </tr>
    </thead>

    <!-- Données -->
    <tbody>
    {% for offre in offres %}
        <tr>
            <td>{{ offre[1] }}</td>
            <td>{{ offre[2] }}</td>
            <td>{{ offre[3] }}</td>
            <td>
                <form method="post" action="apply">
                    <input type="hidden" name="id" value="{{ offre[0] }}">
                    <input type="submit" value="Accepter l'offre"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% include 'FOOTER.html' %}

</body>