<!DOCTYPE html>
<html>

{% with name="Aperçu rapide" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<h2 class="page_title">Aperçu rapide</h2>

<div class="stat">
    <table>
        <tr>
            <td style="border:none;"></td>
            {% for f in t[0] %}
                <th class="h_filiere">{{ filieres[loop.index - 1] }}</th>
            {% endfor %}
        </tr>

        {% for m in t %}
            <tr {% if loop.index%2 == 0 %}style="background:#bbbbbb"{% endif %}>
                <th class="h_matiere">{{ matieres[loop.index - 1] }}</th>
                {% for c in m %}
                    <td class="cell">
                        {% for o in c[0] %}
                        	{% if o.participant is not none or o.participant2 is not none %}
                        	<img class="puce" src="/img/puce_offre_r.png" title="Offre acceptée">
                            {% else %}
                            <img class="puce" src="/img/puce_offre.png" title="Offre">
                            {% endif %}
                        {% endfor %}
                        </br>
                        {% for d in c[1] %}
                        	{% if d.tuteur is not none %}
                        	<img class="puce" src="/img/puce_demande_r.png"
                                 title="Demande satisfaite">
                            {% else %}
                            <img class="puce" src="/img/puce_demande.png"
                                 title="Demande">
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
</div>


{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
