<!DOCTYPE html>
<html>

{% with name="Liste des offres" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

{% include 'mise_en_page/HEADER.html' %}

<!-- Critères de recherche -->
<form class="search" method="post" action="/search">
    <div class="critere">

        <a class="button" id="reset_filter" onclick="window.location.href=window.location.pathname">Réinitialiser les
            filtres</a>

        <div class="tool">
            <a href="/stat" class="admin" title="Aperçu rapide"><img
                    src="/static/img/stat.png"></a>
        </div>

        <!-- Rechargement de la page lors du changement de catégorie -->
        <select class="tri" name="categorie"
                onchange="if(document.getElementById('option2')!=null){document.getElementById('option2').selectedIndex = -1}
			              if(document.getElementById('option')!=null){document.getElementById('option').selectedIndex = -1}
			              this.form.submit()">
            <option value="offre" selected>Offre</option>
            <option value="demande">Demande</option>
        </select>

        <!-- Rechargement de la page lors du changement de la méthode de tri -->
        <select class="tri" name="option" id="option"
                onchange="if(document.getElementById('option2')!=null){document.getElementById('option2').selectedIndex = -1}
                this.form.submit()">
            <option value="" disabled {% if not option %}selected{% endif %}>- Trier par -</option>
            <option value="date_time" {% if option == "date_time" %}selected{% endif %}>Date croissante</option>
            <option value="filiere" {% if option == "filiere" %}selected{% endif %}>Filière</option>
            <option value="matiere" {% if option == "matiere" %}selected{% endif %}>Matière
            <option value="suggestion">Suggestion</option>
        </select>

        {% if option == "matiere" or option == "filiere" %}
            <!-- Paramètre de tri 2 -->
            <select id="option2" class="tri" name="option2" onchange="this.form.submit()">

                {% if option == "filiere" %}
                    <option value="" disabled selected>- Sélectionner une filière -</option>
                    {% for filiere in filieres %}
                        <option {% if option2 == filiere %}selected{% endif %}>{{ filiere }}</option>
                    {% endfor %}
                {% elif option == "matiere" %}
                    <option value="" disabled selected>- Sélectionner une matière -</option>
                    {% for matiere in matieres %}
                        <option {% if option2 == matiere %}selected{% endif %}>{{ matiere }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        {% endif %}

    </div>

    <!-- Gestion des pages-->
    {% include "blocs/gestion_pages.html" %}

</form>

<!-- Liste des offres -->
<div class="offres">
    {% if offres|length>0 %}
        {% for offre in offres %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur :</strong>
                        <a onclick="open_profile_page('{{ offre.auteur }}')"
                           title="Voir le profil">{{ sql_obj.get_user_info(offre.auteur).nom }}</a>
                    </p>
                    <p class="element"><strong class="G">Pour des :</strong> {{ offre.filiere }}</p>
                    <p class="element"><strong class="G">Matière :</strong> {{ offre.matiere }}</p>
                    <p class="element"><strong class="G">Participant(s) :</strong>
                        {% if offre.participant is none and offre.participant2 is none %}
                            Aucun
                        {% elif offre.participant2 is none %}
                            <a onclick="open_profile_page('{{ offre.participant }}')"
                               title="Voir le profil">{{ sql_obj.get_user_info(offre.participant).nom }}</a>
                            <br/>
                            (1 place restante)
                        {% else %}
                            <a onclick="open_profile_page('{{ offre.participant }}')"
                               title="Voir le profil">{{ sql_obj.get_user_info(offre.participant).nom }}</a>,
                            <br/>
                            <a onclick="open_profile_page('{{ offre.participant2 }}')"
                               title="Voir le profil">{{ sql_obj.get_user_info(offre.participant2).nom }}</a>
                        {% endif %}
                    </p>
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ offre.date_time.strftime('%d/%m/%Y') }}</p>

                    {% with elem=offre %}{% include 'blocs/creneaux_horaires.html' %}{% endwith %}

                    {% if not admin_user %}

                        <form class="bouton" method="post" action="/apply">
                            <input type="hidden" name="categorie" value="offre"/>
                            <input type="hidden" name="id" value="{{ offre.id }}"/>
                            <input type="submit" class="button_offre" value="Accepter l'offre"/>
                        </form>

                    {% else %}
                        <a href="/delete2?id={{ offre.id }}">
                            <button class="button_offre">Supprimer l'offre</button>
                        </a>
                        {% if not offre.dispo %}
                            <a href="/validate?id={{ offre.id }}">
                                <button class="button_offre">Valider l'offre</button>
                            </a>
                        {% endif %}
                    {% endif %}


                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune offre n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
