<!DOCTYPE html>
<html>

{% with name="Liste des offres" %}{% include "mise_en_page/HEAD.html" %}{% endwith %}

<body>

<!-- En-tête -->
{% include 'mise_en_page/HEADER.html' %}

<!-- Critères de recherche -->
{% include 'recherche/form_recherche.html' %}


<!-- Liste des offres -->
<div class="offres">
    {% if offres|length>0 %}
        {% for offre in offres %}
            <br/>
            <div class="bloc">
                <div class="info">
                    <p class="element"><strong class="G">Auteur :</strong>
                        <a onclick="open_profile_page('{{ offre.auteur }}')"
                           title="Voir le profil">{{ sql_obj.get_user_info(offre.auteur).nom }}</a>
                    </p>
                    <p class="element"><strong class="G">Pour des :</strong> {{ offre.filiere }}</p>
                    <p class="element"><strong class="G">Matière :</strong> {{ offre.matiere }}</p>
                    
                    {% if offre.participant is not none or offre.participant2 is not none %}
                    <p class="relation"><strong class="G">Participant{% if offre.participant is not none and offre.participant2 is not none %}s{% endif %} :</strong>
                        <ul>
                            {% for p in [offre.participant, offre.participant2] %}
                                {% if p is not none %}
                                    <li>
                                        <a onclick="open_profile_page('{{ p }}')"
                                           title="Voir le profil">{{ sql_obj.get_user_info(p).nom }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </p>
                    {% endif %}
                
                </div>
                <div id="horaires">
                    <p class="date_creation">Créée le {{ offre.date_time.strftime('%d/%m/%Y') }}</p>

                    {% with elem=offre %}{% include 'blocs/creneaux_horaires.html' %}{% endwith %}

                    {% if not admin_user %}

                        <form class="bouton" method="post" action="/apply">
                            <input type="hidden" name="categorie" value="offre"/>
                            <input type="hidden" name="id" value="{{ offre.id }}"/>
                            <input type="submit" class="button_offre" value="Accepter l'offre"/>
                        </form>

                    {% else %}
                        <a href="/delete2?id={{ offre.id }}">
                            <button class="button_offre">Supprimer l'offre</button>
                        </a>
                        {% if not offre.dispo %}
                            <a href="/validate?id={{ offre.id }}">
                                <button class="button_offre">Valider l'offre</button>
                            </a>
                        {% endif %}
                    {% endif %}


                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search_none">
            <div class="bloc" id="none_offre">
                <p class="none_offre">Aucune offre n'a été trouvée</p>
            </div>
        </div>
    {% endif %}
</div>

{% include 'mise_en_page/FOOTER.html' %}

</body>
</html>
